<h1 mat-dialog-title>Config Protex</h1>
<form class="example-form" [formGroup]="addProtexConfigForm">
    <mat-form-field appearance="outline" style="display: inline;">
        <mat-label>Select Protex Server</mat-label>
        <mat-select formControlName="protex_server">
            <mat-option *ngFor="let server of scanServers" [value]="server.value">
                {{server.viewValue}}
            </mat-option>
        </mat-select>
        <mat-error
            *ngIf="addProtexConfigForm.controls.protex_server.hasError('required') && addProtexConfigForm.controls.protex_server.touched">
            Protex Server is required
        </mat-error>
    </mat-form-field>
    <div style="height: 0.5rem;"></div>
    <mat-form-field appearance="outline" style="display: inline;">
        <mat-label>Protex Project Id</mat-label>
        <input type="text" matInput formControlName="protex_project_id">
        <mat-hint >Protex ID should be comprised of a prefix 'c_' and suffix '_5 digits'</mat-hint>
        <mat-error
            *ngIf="addProtexConfigForm.controls.protex_project_id.hasError('required') && addProtexConfigForm.controls.protex_project_id.touched">
            Protex Project Id is required
        </mat-error>
    </mat-form-field>
    <div style="height: 0.5rem;"></div>
    <div>
        <mat-checkbox color="primary" formControlName="user_added" (change)="checkUserAdded($event)">Faceless User Added
        </mat-checkbox>
    </div>
    <div style="height: 0.5rem;"></div>
    <div>
        <button mat-flat-button color="primary" style="float: right;margin: 8px 0 0;"
            (click)="close()">Close</button>
        <button mat-flat-button color="primary" style="float: right;margin: 8px 8px 0;" (click)="saveProtexConfig()"
            [disabled]="!addProtexConfigForm.valid || isValidId()">Save</button>
    </div>
</form>
