<h1 mat-dialog-title>Add Comment</h1>
<form class="example-form" [formGroup]="commentForm">
    <mat-form-field appearance="outline">
        <mat-label>Comments</mat-label>
        <textarea matInput formControlName="comment"></textarea>
        <mat-error *ngIf="commentForm.controls.comment.hasError('required') && commentForm.controls.comment.touched">
            Comment is required
        </mat-error>
    </mat-form-field>
    <div class="form-group">
        <button mat-flat-button (click)="openCommentInput()" color="primary">Select File to Upload</button>
        <input id="commentFileInput" hidden type="file" (change)="commentInputChange($event)" formControlName="upload"
            name="upload" accept=".csv,.xlsv,.doc,.pdf">&nbsp;&nbsp;
        <mat-label *ngIf="fileName">{{fileName}}</mat-label>
    </div>
    <br>

    <button mat-flat-button matTooltip="Close" color="primary" style="float: right;margin: 8px 0 0;"
        [mat-dialog-close]="true">Close</button>
    <button mat-flat-button matTooltip="Save" color="primary" style="float: right;margin: 8px 8px 0;" (click)="Submit()"
        [disabled]="!commentForm.valid">Save</button>

</form>