

<div class="container" class="container mat-elevation-z9">
    <h1 style="margin: 2rem;" mat-dialog-title>Notifications Settings</h1>
    <div style="display: flex;">
    <div>
        <div>
            <div style="margin: 0 2rem">
                <div mat-dialog-title>Task owner Notifications </div><br>
                <section *ngFor="let item of ownerNotificationList">
                    <mat-checkbox color="primary" [checked]="item.checked"  (change)="checkOwner($event,item)">{{item.viewValue}}</mat-checkbox> 
                </section>
            </div>
        </div><br>
        <div >
            <div style="margin: 0 2rem">
                <div mat-dialog-title>Stakeholder Notifications</div><br>
                <section *ngFor="let stakeholder of stakeholderNotificationList">
                    <mat-checkbox color="primary" [checked]="stakeholder.checked" (change)="checkStakeholder($event,stakeholder)">{{stakeholder.viewValue}}</mat-checkbox>
                </section>
            </div>
        </div>
    </div>
    <div>
        <div mat-dialog-title>Send to Qual Owner?</div><br>
        <section *ngFor="let item of qualOwnerNotificationList" style="padding-left: 5rem;margin-bottom: 4px;">
            <div *ngIf="item.value == 'addrelease_qualowner'" style="margin-bottom: 76px;"></div>
            <mat-checkbox color="primary" [checked]="item.checked"  (change)="checkQualOwner($event,item)"></mat-checkbox>
        </section>
        </div>
    </div>
    <div style="margin: 2rem;">
        <button mat-flat-button matTooltip="Clear All" color="primary" style="width: 10%;
        margin-top: 10px; margin-bottom: 10px;margin-inline: auto;" (click)="clearAll()">Clear All</button> &nbsp;
        <button mat-flat-button matTooltip="Select All" color="primary" style="width: 10%;
        margin-top: 10px; margin-bottom: 10px;margin-inline: auto;" (click)="selectAll()">Select All</button> &nbsp;
        <button mat-flat-button matTooltip="Set Default" color="primary" style="width: 10%;
        margin-top: 10px; margin-bottom: 10px;margin-inline: auto;" (click)="setDefault()">Set Default</button> &nbsp;
        <!-- <button mat-flat-button matTooltip="Add/Update Release" color="primary" style="width: 10%;
        margin-top: 10px; margin-bottom: 10px;margin-inline: auto;" >Reset</button> &nbsp; -->
        <!-- <button mat-flat-button matTooltip="Save" color="primary" style="width: 10%;
        margin-top: 10px; margin-bottom: 10px;margin-inline: auto;" (click)="save()">Save</button>  -->
    </div>
</div>