
<h1 mat-dialog-title>Config KW</h1>
<form class="example-form" [formGroup]="addKwConfigForm" style="align-self: center;">
    <mat-form-field appearance="outline" style="width: 22rem;margin-right: 1rem;">
        <mat-label>Select KW Server</mat-label>
        <mat-select formControlName="kw_server" (selectionChange)="selectPort($event.value)">
            <mat-option *ngFor="let server of scanServers" [value]="server.value">
                {{server.viewValue}}
            </mat-option>
        </mat-select>
        <mat-error
            *ngIf="addKwConfigForm.controls.kw_server.hasError('required') && addKwConfigForm.controls.kw_server.touched">
            KW Server is required
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 10rem;">
        <mat-label>Port</mat-label>
        <mat-select formControlName="port">
            <mat-option *ngFor="let port of portList" [value]="port">
                {{port}}
            </mat-option>
        </mat-select>
        <mat-error
            *ngIf="addKwConfigForm.controls.port.hasError('required') && addKwConfigForm.controls.port.touched">
            Port is required
        </mat-error>
    </mat-form-field>
    <div style="height: 0.5rem;"></div>
    <mat-form-field appearance="outline" style="display: inline;">
        <mat-label>KW Project Name</mat-label>
        <input type="text" matInput formControlName="kw_project_name">
        <mat-error
            *ngIf="addKwConfigForm.controls.kw_project_name.hasError('required') && addKwConfigForm.controls.kw_project_name.touched">
            Project Name is required
        </mat-error>
    </mat-form-field>
    <div style="height: 0.5rem;"></div>
    <div style="height: 0.5rem;"></div>
    <div >
        <mat-checkbox color="primary" formControlName="user_added" (change)="checkUserAdded($event)">Faceless User:
            '{{facelessUser}}',<br>was added to the Klocwork project users list.
        </mat-checkbox>
    </div>
    <div style="height: 0.5rem;"></div>
    <button mat-flat-button color="primary" style="float: right;margin: 8px 0 0;"
        (click)="close()">Close</button>
    <button mat-flat-button color="primary" style="float: right;margin: 8px 8px 0;" (click)="saveKwConfig()"
        [disabled]="!addKwConfigForm.valid">Save</button>

</form>
