<div class="container" class="container mat-elevation-z9">
    <h1 mat-dialog-title></h1>
    <form [formGroup]="releaseForm" style="align-self: center;">

        <mat-form-field appearance="outline" style="width: 30rem;margin-right: 1rem;">
            <mat-label>Business Unit</mat-label>
            <mat-select formControlName="businessunit" [disabled]=editMode (selectionChange)="selectBU($event.value)" >
                <mat-option *ngFor="let businessunit of businessUnits;trackBy: trackByFn" [value]="businessunit" >
                    {{businessunit}}
                </mat-option>
            </mat-select>
            <mat-error
                *ngIf="releaseForm.controls.businessunit.hasError('required') && releaseForm.controls.businessunit.touched">
                Business unit is required
            </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="!isIngredient" appearance="outline" style="width: 30rem;margin-right: 1rem;">
            <mat-label>Grading Type</mat-label>
            <mat-select formControlName="gradingtype" (selectionChange)="selectGrade($event.value)" >
                <mat-option *ngFor="let grading of gradingTypes;trackBy: trackByFn" [value]="grading">
                    {{grading}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="releaseForm.controls.gradingtype.hasError('required') && releaseForm.controls.gradingtype.touched">
                Grading Type is required
            </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="isIngredient" appearance="outline" style="width:15rem;margin-right: 1rem;">
            <mat-label>Grading Type</mat-label>
            <mat-select formControlName="gradingtype" (selectionChange)="selectGrade($event.value)" >
                <mat-option *ngFor="let grading of gradingTypes;trackBy: trackByFn" [value]="grading">
                    {{grading}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="releaseForm.controls.gradingtype.hasError('required') && releaseForm.controls.gradingtype.touched">
                Grading Type is required
            </mat-error>
        </mat-form-field>
        
        <mat-form-field *ngIf="isIngredient" appearance="outline" style="width:14rem;margin-right: 1rem;">
            <mat-label>Platform</mat-label>
            <mat-select formControlName="platform" >
                <mat-option value=""></mat-option>
                <mat-option *ngFor="let platform of platformProjects;trackBy: trackByFn" [value]="platform">
                    {{platform}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="releaseForm.controls.platform.hasError('required') && releaseForm.controls.platform.touched">
                Platform is required
            </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="isPlatform" appearance="outline" style="width:30rem;margin-right: 1rem;">
            <mat-label>Platform Name</mat-label>
            <input type="text" matInput
            placeholder="Select Platform Name or Create New Platform Name"
            aria-label="Number"
            formControlName="name"
            [matAutocomplete]="auto">
            <!-- <input type="text" matInput formControlName="role"> -->
            <mat-autocomplete #auto="matAutocomplete">
             <mat-option *ngFor="let platform of filteredOptions | async;trackBy: trackByFn" [value]="platform">
               {{platform}}
             </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="releaseForm.controls.platform.hasError('required') && releaseForm.controls.platform.touched">
                Platform is required
            </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="!isPlatform" appearance="outline" style="width: 30rem;margin-right: 1rem;" >
            <mat-label>{{productLabel}}</mat-label>
            <input type="text" matInput formControlName="name" [readonly]=isGradeSelected >
            <mat-error *ngIf="releaseForm.controls.name.hasError('required') && releaseForm.controls.name.touched">
                {{productLabel}} is required
            </mat-error>
            <mat-hint *ngIf="isGradeSelected">Please select Grading type</mat-hint>
        </mat-form-field>
        
        <br>
        <mat-form-field appearance="outline" style="width: 23rem;margin-right: 1rem;">
            <mat-label>Release Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" (dateChange)="onChange($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 6rem;margin-right: 1rem;">
            <mat-label>Work Week</mat-label>
            <input [readonly]=true type="text" matInput value="{{(workWeek) ? (workWeek | workWeekPipe) : ''}}">

            <!-- <div *ngIf="isWorkWeekVisible">{{workWeek | workWeekPipe}}</div> -->
        </mat-form-field>

        <mat-form-field *ngIf="!Axg" appearance="outline" style="width: 15rem;margin-right: 1rem;">
            <mat-label>Select Milestone</mat-label>
            <mat-select formControlName="milestone" [disabled]=editMode (selectionChange)="selectMilestone($event.value)">
                <mat-option *ngFor="let milestone of milestones;trackBy: trackByFn" [value]="milestone">
                    {{milestone}}
                </mat-option>
            </mat-select>
            <mat-error
                *ngIf="releaseForm.controls.milestone.hasError('required') && releaseForm.controls.milestone.touched">
                Milestone is required
            </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="Axg" appearance="outline" style="width: 8rem;margin-right: 1rem;">
            <mat-label>Select Milestone</mat-label>
            <mat-select formControlName="milestone" [disabled]=editMode (selectionChange)="selectMilestone($event.value)">
                <mat-option *ngFor="let milestone of milestones;trackBy: trackByFn" [value]="milestone">
                    {{milestone}}
                </mat-option>
            </mat-select>
            <mat-error
                *ngIf="releaseForm.controls.milestone.hasError('required') && releaseForm.controls.milestone.touched">
                Milestone is required
            </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="Axg" appearance="outline" style="width: 6rem;margin-right: 1rem;">
            <mat-label>Select Tier</mat-label>
            <mat-select formControlName="tier" [disabled]=editMode>
                <mat-option *ngFor="let tier of tiers;trackBy: trackByFn" [value]="tier">
                    {{tier}}
                </mat-option>
            </mat-select>
            <mat-error
                *ngIf="releaseForm.controls.milestone.hasError('required') && releaseForm.controls.milestone.touched">
                Milestone is required
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 14rem;margin-right: 1rem;">
            <mat-label>Version</mat-label>
            <input type="text" matInput formControlName="version">
            <mat-error *ngIf="releaseForm.controls.version.hasError('required') && releaseForm.controls.version.touched">
                Version is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 15rem;margin-right: 1rem;">
            <mat-label>Release Status</mat-label>
            <mat-select formControlName="releasestatus" (selectionChange)="releaseStatusChange()">
                <mat-option *ngFor="let status of releaseStatus;trackBy: trackByFn" [value]="status">
                    {{status}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="releaseForm.controls.releasestatus.hasError('required') && releaseForm.controls.releasestatus.touched">
                Release Status is required
            </mat-error>
        </mat-form-field>
      
       
        
        <mat-form-field appearance="outline" style="width: 14rem;">
            <mat-icon aria-label="Edit" matSuffix color="primary" style="cursor: pointer;" (click)="openDataCollectionDialog()">edit</mat-icon>
            <mat-label>Data Collection Status</mat-label>
            <input [readonly]=true type="text" matInput value="{{dataCollectionStatus}}">
            <!-- <button mat-icon-button color="primary" matTooltip="Configure DataCollection"
            (click)="openDataCollectionDialog()"> 
            
            </button>-->
        </mat-form-field>
     
        <br>
        <mat-form-field appearance="outline" style="width: 30rem;margin-right: 1rem;">
            <mat-label>Qual Owner Name</mat-label>
            <input type="text" matInput formControlName="qualowner">
            <mat-error
                *ngIf="releaseForm.controls.qualowner.hasError('required') && releaseForm.controls.qualowner.touched">
                Owner is required
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 30rem;margin-right: 1rem;">
            <mat-label>Qual Owner Email</mat-label>
            <input type="text" matInput formControlName="qualowneremail">
            <mat-error
                *ngIf="releaseForm.controls.qualowneremail.hasError('required') && releaseForm.controls.qualowneremail.touched">
                Email is required
            </mat-error>
            <mat-error *ngIf="releaseForm.controls.qualowneremail.hasError('qualowneremail')">
                Please enter a valid email address
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 30rem;">
            <mat-label>Release Type</mat-label>
            <mat-select formControlName="releasetype">
                <mat-option *ngFor="let release of releaseTypes;trackBy: trackByFn" [value]="release">
                    {{release}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="releaseForm.controls.releasetype.hasError('required') && releaseForm.controls.releasetype.touched">
                Release Type is required
            </mat-error>
        </mat-form-field>
      
        <!-- <mat-form-field appearance="outline" style="width: 22rem;margin-right: 1rem;">
            <mat-label>Attorney Name</mat-label>
            <input type="text" matInput formControlName="attorneyname">
            <mat-error
                *ngIf="releaseForm.controls.attorneyname.hasError('required') && releaseForm.controls.attorneyname.touched">
                Attorney Name is required
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 22rem;margin-right: 1rem;">
            <mat-label>Attorney Email</mat-label>
            <input type="text" matInput formControlName="attorneyemail">
            <mat-error
                *ngIf="releaseForm.controls.attorneyemail.hasError('required') && releaseForm.controls.attorneyemail.touched">
                Attorney Email is required
            </mat-error>
            <mat-error *ngIf="releaseForm.controls.attorneyemail.hasError('attorneyemail')">
                Please enter a valid email address
            </mat-error>
        </mat-form-field> -->
        <br>
        <mat-form-field appearance="outline" style="width: 92rem;">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
            <mat-error
                *ngIf="releaseForm.controls.description.hasError('required') && releaseForm.controls.description.touched">
                Description is required
            </mat-error>
        </mat-form-field>
    </form>
    
    

    <div style="align-self: center;width: 92rem;">
        <!-- <button mat-flat-button matTooltip="Add Stakeholder" color="primary" (click)="addContact()">
                <mat-icon>add</mat-icon>Add Stakeholder
            </button> -->
        <button mat-flat-button matTooltip="Add Stakeholder" color="primary" (click)="openAddStakeholderDialog()"
            style="margin-bottom: 10px;">
            <mat-icon style="margin-bottom: 3px">add</mat-icon>Add Stakeholder
        </button>
        <div id="modalTarget" #targetModal *ngIf="stakeholders!.length > 0">
            <mat-table #stakeholdertable [dataSource]="stakeholders">
                <ng-container matColumnDef="notification">
                    <mat-header-cell *matHeaderCellDef><mat-icon> email</mat-icon></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <mat-checkbox color="primary" checked={{row.email_notification}} (change)="changeEmailNotification($event,row)"></mat-checkbox>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="wwid">
                    <mat-header-cell *matHeaderCellDef>WWID</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.wwid}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="role">
                    <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.role}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>
                    </mat-header-cell>

                    <mat-cell *matCellDef="let row; let i=index;">
                        <button mat-icon-button color="primary" matTooltip="Update Stakeholder"
                            (click)="updateStakeholder(row)">
                            <mat-icon aria-label="Edit">edit</mat-icon>
                        </button>
                        <button mat-icon-button color="primary" matTooltip="Delete Stakeholder"
                            (click)="deleteStakeholder(row)">
                            <mat-icon aria-label="Delete">delete_outline</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="stakeholderDisplayedColumns;sticky: true"
                    [style.background-color]="color">
                </mat-header-row>
                <mat-row *matRowDef="let row; columns: stakeholderDisplayedColumns;"></mat-row>
            </mat-table>
        </div>
    </div>
    <div class="success-message-div" *ngIf="showMsg">
          <p class="alert alert-success" class="success-message-p" >
              <strong>Release saved Successfully</strong>
          </p>
    </div>
    <div style="width: 10%;margin-top: 10px; margin-bottom: 10px;margin-inline: auto;"></div>
    <button mat-flat-button matTooltip="Add/Update Release" color="primary"
        [disabled]="!releaseForm.valid || isReallyDifferent()" style="width: 10%;
                margin-top: 10px; margin-bottom: 10px;margin-inline: auto;" (click)="updateRelease()">Save</button>

</div>