<div class="container" class="container mat-elevation-z9">
    <h1 mat-dialog-title></h1>
    <form [formGroup]="releaseForm" style="align-self: center;
            width: 92%;">

        <mat-form-field appearance="outline" style="width: 30%;">
            <mat-label>Business Unit</mat-label>
            <mat-select formControlName="businessunit">
                <mat-option *ngFor="let businessunit of businessUnits" [value]="businessunit.value">
                    {{businessunit.viewValue}}
                </mat-option>
            </mat-select>
            <mat-error
                *ngIf="releaseForm.controls.businessunit.hasError('required') && releaseForm.controls.businessunit.touched">
                Business unit is required
            </mat-error>
        </mat-form-field>&nbsp;
        <mat-form-field appearance="outline" style="width: 30%;">
            <mat-label>Product Name</mat-label>
            <input type="text" matInput formControlName="name">
            <mat-error *ngIf="releaseForm.controls.name.hasError('required') && releaseForm.controls.name.touched">
                Product Name is required
            </mat-error>
        </mat-form-field>&nbsp;
        <mat-form-field appearance="outline" style="width: 30%;">
            <mat-label>Release Status</mat-label>
            <input type="text" matInput formControlName="status">
            <mat-error *ngIf="releaseForm.controls.status.hasError('required') && releaseForm.controls.status.touched">
                Status Unit is required
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" style="width: 20%;">
            <mat-label>Release Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" (dateChange)="onChange($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        &nbsp;
        <mat-form-field appearance="outline" style="width: 9%;">
            <mat-label>Work Week</mat-label>
            <input disabled="true"  type="text" matInput value="{{(workWeek) ? (workWeek | workWeekPipe) : ''}}">
           
            <!-- <div *ngIf="isWorkWeekVisible">{{workWeek | workWeekPipe}}</div> -->
        </mat-form-field>
        
        &nbsp;
        <mat-form-field appearance="outline" style="width: 30%;">
            <mat-label>Release Type</mat-label>
            <mat-select formControlName="type">
                <mat-option *ngFor="let release of releaseTypes" [value]="release.value">
                    {{release.viewValue}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="releaseForm.controls.type.hasError('required') && releaseForm.controls.type.touched">
                Release Type is required
            </mat-error>
        </mat-form-field>&nbsp;
        <mat-form-field appearance="outline" style="width: 30%;">
            <mat-label>Select Milestone</mat-label>
            <mat-select formControlName="milestone">
                <mat-option *ngFor="let milestone of milestones" [value]="milestone.value">
                    {{milestone.viewValue}}
                </mat-option>
            </mat-select>
            <mat-error
                *ngIf="releaseForm.controls.milestone.hasError('required') && releaseForm.controls.milestone.touched">
                Milestone is required
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" style="width: 30%;">
            <mat-label>Qual Owner</mat-label>
            <input type="text" matInput formControlName="qualowner">
            <mat-error
                *ngIf="releaseForm.controls.qualowner.hasError('required') && releaseForm.controls.qualowner.touched">
                Owner is required
            </mat-error>
        </mat-form-field>&nbsp;
        <mat-form-field appearance="outline" style="width: 30%;">
            <mat-label>Qual Owner Email</mat-label>
            <input type="text" matInput formControlName="email">
            <mat-error *ngIf="releaseForm.controls.status.hasError('email') && releaseForm.controls.email.touched">
                Email is required
            </mat-error>
        </mat-form-field>&nbsp;
        <mat-form-field appearance="outline" style="width: 30%;">
            <mat-label>Attorney Name</mat-label>
            <input type="text" matInput formControlName="attorney">
            <mat-error
                *ngIf="releaseForm.controls.attorney.hasError('required') && releaseForm.controls.attorney.touched">
                Attorney is required
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" style="width: 91%;">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
            <mat-error
                *ngIf="releaseForm.controls.description.hasError('required') && releaseForm.controls.description.touched">
                Description is required
            </mat-error>
        </mat-form-field>
    </form>
        
        <div style="align-self: center;width: 91%;">
            <!-- <button mat-flat-button matTooltip="Add Stakeholder" color="primary" (click)="addContact()">
                <mat-icon>add</mat-icon>Add Stakeholder
            </button> -->
            <button mat-flat-button matTooltip="Add Stakeholder" color="primary" (click)="addStakeholder()"
                style="margin-bottom: 10px;">
                <mat-icon style="margin-bottom: 3px">add</mat-icon>Add Stakeholder
            </button>
            <div id="modalTarget" #targetModal style="width: 92%;">
                <mat-table #stakeholdertable [dataSource]="stakeholders">
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="wwid">
                        <mat-header-cell *matHeaderCellDef>WWID</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.wwid}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="role">
                        <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.role}}</mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="contactDisplayedColumns;sticky: true"
                        [style.background-color]="color">
                    </mat-header-row>
                    <mat-row *matRowDef="let row; columns: contactDisplayedColumns;"></mat-row>
                </mat-table>
            </div>
        </div>
   
        <!-- <ng-template #addContactDialog>
            <h1 mat-dialog-title>Add Contact</h1>
            <form class="example-form" [formGroup]="addContactForm">
                <mat-form-field appearance="outline" style="display: inline;">
                    <mat-label>Name</mat-label>
                    <input type="text" matInput formControlName="name">
                    <mat-error *ngIf="addContactForm.controls.name.hasError('required') && addContactForm.controls.name.touched">
                        Name is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" style="display: inline;">
                    <mat-label>Email</mat-label>
                    <input type="text" matInput formControlName="email">
                    <mat-error *ngIf="addContactForm.controls.email.hasError('required') && addContactForm.controls.email.touched">
                        Email is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" style="display: inline;">
                    <mat-label>WWID</mat-label>
                    <input type="text" matInput formControlName="wwid">
                    <mat-error *ngIf="addContactForm.controls.wwid.hasError('required') && addContactForm.controls.wwid.touched">
                        WWID is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" style="display: inline;">
                    <mat-label>Role</mat-label>
                    <input type="text" matInput formControlName="role">
                    <mat-error *ngIf="addContactForm.controls.role.hasError('required') && addContactForm.controls.role.touched">
                        Role is required
                    </mat-error>
                </mat-form-field>

                <button mat-flat-button matTooltip="Close" color="primary" style="float: right;margin: 8px 0 0;"
                    (click)="Submit()">Close</button>
                <button mat-flat-button matTooltip="Save" color="primary" style="float: right;margin: 8px 8px 0;" (click)="Submit()"
                    [disabled]="!addContactForm.valid">Save</button>

            </form>
        </ng-template>
       -->
        <button mat-flat-button matTooltip="Add/Update Release" color="primary" [disabled]="!releaseForm.valid" style="width: 10%;
                margin-top: 10px; margin-bottom: 10px;margin-inline: auto;" (click)="updateRelease()">Save</button> 


    
</div>