<div>
    <mat-toolbar color="primary">
        <span>{{rtcVersion}}</span>
        <span class="example-spacer"></span>
        <div class="image-container">
            <img class="img-div" src="./assets/sqba.png" />
        </div>
        &nbsp;
        <div class="image-container">
            <img class="img-div" src="./assets/intel-logo-white-100.png" />
        </div>
    </mat-toolbar>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <div>
                <a mat-button [routerLink]="'/home'" routerLinkActive="active-list-item"> Home </a>
                <a mat-button [matMenuTriggerFor]="admin" #adminMenu="matMenuTrigger" (mouseover)="adminMenu.openMenu()">Admin</a>
                    <mat-menu #admin="matMenu" [overlapTrigger]="false">
                        <button mat-menu-item [routerLink]="'/notification'">
                          <mat-icon>settings</mat-icon>
                          <span>Notifications</span>
                        </button>
                        <!-- <button mat-menu-item>
                          <mat-icon>people_outline</mat-icon>
                          <span>Connecting</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon>videocam</mat-icon>
                          <span>Let's talk</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon>exit_to_app</mat-icon>
                          <span>Logout</span>
                        </button> -->
                      </mat-menu>    
                
                <a mat-button [routerLink]="'/report'" routerLinkActive="active-list-item"> Reports </a>
                <a mat-button [routerLink]="'/help'" routerLinkActive="active-list-item"> Help </a>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>

</div>