<h1 mat-dialog-title>Add Evidence</h1>
<form class="example-form" [formGroup]="evidenceForm">
    <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input type="text" matInput formControlName="title">
        <mat-error *ngIf="evidenceForm.controls.title.hasError('required') && evidenceForm.controls.title.touched">
            Title is required
        </mat-error>
        <!-- <mat-error *ngIf="evidenceForm.controls.title.hasError('required')">
        Title is required
        </mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <mat-select (selectionChange)="onEvidenceTypeSelect($event)" formControlName="type">
            <mat-option *ngFor="let status of uploadTypes" [value]="status.value">
                {{status.viewValue}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="evidenceForm.controls.type.hasError('required') && evidenceForm.controls.type.touched">
            Upload Type is required
        </mat-error>
        <!-- <mat-error *ngIf="evidenceForm.controls.type.hasError('required')">
            Upload Type is required
          </mat-error> -->
    </mat-form-field>

    <div class="form-group" *ngIf="isLinkSelected">
        <mat-form-field appearance="outline">
            <mat-label>Link</mat-label>
            <input type="text" matInput formControlName="link" (input)="onLinkSelected()">
            <mat-error *ngIf="evidenceForm.controls.link.hasError('required') && evidenceForm.controls.link.touched">
                Link is required
            </mat-error>
            <mat-error *ngIf="evidenceForm.controls.link.hasError('pattern')">
                Enter a valid Link
            </mat-error>
        </mat-form-field>
    </div>
    <div class="form-group" *ngIf="isFileUploadSelected">
        <!-- <mat-form-field appearance="fill"> -->
        <!-- <mat-label>File</mat-label> -->
        <button mat-flat-button (click)="openInput()" color="primary" style="margin-bottom: 10px;">Select File to
            Upload</button>
        <input id="fileInput" hidden type="file" (change)="selectEvidenceFile($event)" formControlName="upload"
            name="upload" accept=".csv,.xlsv,.docx,.pdf">&nbsp;&nbsp;
        <mat-label *ngIf="selectedFile">{{selectedFile.name}}</mat-label>

        <!-- <input class="ng-hide" id="input-file-id" multiple ormControlName="upload" type="file" (change)="csvInputChange($event)"/>
        <label for="input-file-id" class="md-button md-raised md-primary">Choose Files</label> -->
        <!-- </mat-form-field> -->

    </div>


    <mat-form-field appearance="outline">
        <mat-label>Comments</mat-label>
        <textarea matInput formControlName="comment"></textarea>
        <mat-error *ngIf="evidenceForm.controls.comment.hasError('required') && evidenceForm.controls.comment.touched">
            Comment is required
        </mat-error>
        <!-- <mat-error *ngIf="evidenceForm.controls.comment.hasError('required')">
        Comment is required
        </mat-error> -->
    </mat-form-field>

    <button mat-flat-button matTooltip="Close" color="primary" style="float: right;margin: 8px 0 0;"
        (click)="Close()">Close</button>
    <button mat-flat-button matTooltip="Save" color="primary" style="float: right;margin: 8px 8px 0;"
        [disabled]="!evidenceForm.valid" (click)="Submit()">Save</button>

</form>