.mat-header-cell {
    font-size: 13px;
    font-weight: 600;
    
}

:host ::ng-deep .mat-select-value-text {
    color: #000000 !important;
}

.mat-table::ng-deep {
    border: 1px solid #f1f3f4;
}

.mat-column-protex_server {
    border-right: 1px solid #b2bbbf;
    align-self: stretch;
    text-align: center;

}

.mat-column-protex_project_id {
    border-right: 1px solid #b2bbbf;
    align-self: stretch;
    text-align: center;
    margin-left: 10px;
}

.mat-column-user_added {
    border-right: 1px solid #b2bbbf;
    align-self: stretch;
    text-align: center;
    margin-left: 10px;
}

.mat-column-actions {
    align-self: stretch;
    text-align: center;

    flex: 0 0 10%;
}