.container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 25rem;
    max-height: 50rem;
    overflow: auto;
}

.checklist-label {
    font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif", "-apple-system", "BlinkMacSystemFont";
    font-size: 15px;
    font-weight: 500;
}

.checklist-div {
    padding: 0.5rem;
}

.mat-header-cell {
    font-size: 13px;
    font-weight: 600;
}

.mat-column-vector {
    flex: 0 0 6%;
    word-wrap: break-word;
    // word-break: break-all;
}

.mat-column-details {
    flex: 0 0 11%;
    word-wrap: break-word;
    // word-break: break-all;
}

.mat-column-owner {
    flex: 0 0 11%;
    word-wrap: break-word;
    word-break: break-all;

}

.mat-column-detailedStatus {
    flex: 0 0 12%;
    word-wrap: break-word;
    word-break: break-all;
}

.mat-column-status {
    flex: 0 0 5%;
    word-wrap: break-word;
    word-break: break-all;
}

.mat-column-releaseCriteria {
    flex: 0 0 19%;
    word-wrap: break-word;
    // word-break: break-all;
}

.mat-column-evidence {
    flex: 0 0 10%;
    word-wrap: break-word;
    word-break: break-all;
}

.mat-column-comments {
    flex: 0 0 23%;
    word-wrap: break-word;
    word-break: break-all;
}

.mat-column-seq {
    flex: 0 0 3%;
}

.mat-column-actions {
    flex: 0 0 5%;
}

// .mat-cell:nth-child(1),
// .mat-header-cell:nth-child(1){
//   flex: 0 0 5%;
// }

// .mat-cell:nth-child(2),
// .mat-header-cell:nth-child(2){
//   flex: 0 0 17%;
// }

// .mat-cell:nth-child(3),
// .mat-header-cell:nth-child(3){
//   flex: 0 0 10%;
// }

// .mat-cell:nth-child(4),
// .mat-header-cell:nth-child(4){
//   flex: 0 0 12%;
// }

// .mat-cell:nth-child(5),
// .mat-header-cell:nth-child(5){
//   flex: 0 0 6%;
// }

// .mat-cell:nth-child(6),
// .mat-header-cell:nth-child(6){
//   flex: 0 0 16%;
// }

// .mat-cell:nth-child(7),
// .mat-header-cell:nth-child(7){
//   flex: 0 0 15%;
// }

// .mat-cell:nth-child(8),
// .mat-header-cell:nth-child(8){
//   flex: 0 0 15%;
// }

td.e-rowcell .statustxt.e-donecolor {
    color: #fff;
    position: relative;
    float: center;
    font-size: 11px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    padding: 2px 12px 3px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.statustemp.e-donecolor {
    border-radius: 3px;
    background-color: #064;
    width: 70px;
    height: 25PX;

}

td.e-rowcell .statustxt.e-opencolor {
    color: #fff;
    position: relative;
    float: center;
    font-size: 11px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    padding: 2px 12px 3px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.statustemp.e-opencolor {
    border-radius: 3px;
    background-color: #bf2600;
    width: 70px;
    height: 25PX;

}

td.e-rowcell .statustxt.e-wipcolor {
    color: #fff;
    position: relative;
    float: center;
    font-size: 11px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    padding: 2px 16px 3px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.statustemp.e-wipcolor {
    border-radius: 3px;
    background-color: #87a7eb;
    width: 70px;
    height: 25PX;

}

td.e-rowcell .statustxt.e-nacolor {
    color: #fff;
    position: relative;
    float: center;
    font-size: 11px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    padding: 2px 15px 3px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.statustemp.e-nacolor {
    border-radius: 3px;
    background-color: #42526e;
    width: 70px;
    height: 25PX;

}

#dropdownbutton-control {
    width: 100%;
    margin: 11% 0;
    text-align: center;
}

/* custom code start*/
.dropdownbutton-section {
    width: 80%;
    margin: auto;
}

#dropdownbutton-control .col-xs-12 {
    margin: 15px 0;
}

.e-dropdown-popup ul {
    font-size: 12px;
}

.mat-header-row {
    min-height: 45px !important;
}

.doneBackgroundColor {
    background-color: #E3FCEF;
}

.naBackgroundColor {
    background-color: #F4F5F7;
}

.openBackgroundColor {
    background-color: #FFEBE6;
}

.wipBackgroundColor {
    background-color: #d6dbf0;
}

.comment-div {
    border-color: #ccc;
    background: #fff;
    color: #555;
    // border: 1px solid;
    border-width: 1px;
    border-radius: 4px;
    padding: 5px;
}

.mat-cell,
.mat-footer-cell {
    font-size: 12px !important;
}

.mat-select-value-text {
    color: white !important;
    font-size: small !important;
    padding: 10px !important;
}

.material-icons {
    font-size: 22px !important;
}

.mat-stroked-button {
    // padding: 0 2px !important;
    line-height: 20px !important;
    font-size: 12px !important;
}

.multi_lines_text {
    white-space: pre-line;
}

.mat-column-evidenceChild {
    flex: 0 0 28% !important;
    word-wrap: break-word;
    word-break: break-all;
}

.mat-column-evidenceDate {
    flex: 0 0 13% !important;
}

/* Mat table */
.no-results {
    display: flex;
    justify-content: center;
    padding: 14px;
    font-size: 14px;
    // font-style: italic;
}

.cell-line {
    margin: 5px;
}

.mat-elevation-z8 {
    display: flex;
    flex-direction: column;
    max-height: 46rem;
    margin: 1% 1% 1% 1%;
    overflow: auto;
}

.tableStyle {
    max-height: 46rem;
    overflow: auto;
}

mat-header-cell,
mat-header-row {
    position: sticky;
    top: 0;
    background: white;
}

:host ::ng-deep .mat-form-field {
    display: inline;
}

.posting {
    font-size: small;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
    // display: block !important;
    // -webkit-tap-highlight-color: transparent !important;
    // width: 100% !important;
    // padding: 0 !important;
    height: auto !important;
}

