<div style="display:flex;">
    <div style="width:50%;margin-right: 1rem;">
        <app-protex></app-protex>
    </div>
    <div style="width:50%;">
        <app-bdba></app-bdba>
    </div> 
</div>
<br>
<div style="display:flex;">
    <div style="width:50%;margin-right: 1rem;">
        <app-kw></app-kw>
    </div>
    <div style="width:50%;">
       
    </div>
  
</div>
<button mat-flat-button color="primary" matTooltip="Close" style="float:right;" [mat-dialog-close] cdkFocusInitial>Close</button>