
<div class="col-lg-12 control-section e-input-section">
    <form id="reactive" [formGroup]="releaseForm">
        <div class="content-wrapper">
            <div class="release-header">Generate Release</div>
            <div class="release-message">Enter values to Create a New Release Qualification:</div>
            <div class="release-div">
                <div *ngIf="showSpinner" class="col-lg-3 col-md-3 col-3" align="center">
                    <div id="rounded-container">
                        <ejs-progressbar #circular3 id='circular4' [type]='type3' [maximum]='max3' [minimum]='min3'
                        [value]='value3' [width]='width' [height]='spinnerheight' [isIndeterminate]='isIndeterminate3'
                        [animation]='animation' (load)='load($event)'>
                    </ejs-progressbar>
                    </div>
                    <div class="progress-text-align">Wait ! System is generating a new Release !!</div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="form-group">
                            <div class="e-float-input">
                                <ejs-textbox placeholder="Project Name" cssClass="e-outline" floatLabelType="Auto" formControlName="name"></ejs-textbox>
                                <!-- <input type="text" id="name" name="name" class="required" formControlName="name">
                                <span class="e-float-line"></span>
                                <label class="e-float-text" for="title">Project Name</label> -->
                            </div> 
                            <div *ngIf="releaseForm.controls.name.hasError('required') && releaseForm.controls.name.touched" class="e-error">* Project Name is required</div>                                                 
                        </div>
                        <!-- <ejs-textbox placeholder="First Name" floatLabelType="Auto"></ejs-textbox> -->
                    </div>
                    <div class="column">          
                        <div class="form-group">
                            <div class="e-float-input">
                                
                                <!-- <ejs-datepicker formControlName="date" name="date" placeholder='Select a date' floatLabelType='Always'></ejs-datepicker> -->
                                <ejs-datepicker (renderDayCell)="onLoad($event)" [value]="date" #listObj cssClass="e-outline" floatLabelType="Auto" formControlName="date" [format]="format" placeholder='Release Date' (change)="onChange($event)"></ejs-datepicker>
                            </div> 
                            <span *ngIf="isWorkWeekVisible" class="work-week">{{workWeek | workWeekPipe}}</span>
                            <div *ngIf="releaseForm.controls.date.hasError('required') && releaseForm.controls.date.touched" class="e-error">* Work Week Date is required</div>                                                 
                        </div>                
                    </div>
                                  
                </div>
                
                <!-- <div class="row">
                    <div class="column">
                        <div class="form-group">
                            <div class="e-float-input">
                                <ejs-textbox placeholder="Project Contact" cssClass="e-outline" floatLabelType="Auto" formControlName="contact"></ejs-textbox>
                            </div> 
                            <div *ngIf="releaseForm.controls.contact.hasError('required') && releaseForm.controls.contact.touched" class="e-error">* Project Contact is required</div>                                                 
                        </div>    
                    </div> 
                    <div class="column">
                        <div class="form-group">
                            <div class="e-float-input">
                                <ejs-textbox placeholder="Email" cssClass="e-outline" floatLabelType="Auto" formControlName="email"></ejs-textbox>
                            </div> 
                            <div *ngIf="releaseForm.controls.email.hasError('required') && releaseForm.controls.email.touched" class="e-error">* Email is required</div>                                                 
                        </div>                                           
                    </div>                             
                </div> -->

                <div class="row">
                    <div class="column">
                        <div class="form-group">
                            <div class="e-float-input">
                                <ejs-dropdownlist id='businessunit' cssClass="e-outline e-custom" floatLabelType="Auto" #businessunit [dataSource]='businessUnits' [fields]='businessUnitfields' [placeholder]='businessUnit' [popupHeight]='height' formControlName="businessunit"></ejs-dropdownlist>
                            </div> 
                            <div *ngIf="releaseForm.controls.businessunit.hasError('required') && releaseForm.controls.businessunit.touched" class="e-error">* Business Unit is required</div>                                                 
                        </div>               
                    </div>
                    <div class="column">          
                        <div class="form-group">
                            <div class="e-float-input">
                                <div class="multiline-row">
                                    <ejs-textbox id="description" #default rows="2" [placeholder]='description' floatLabelType="Auto" [multiline]="true" formControlName="description" required></ejs-textbox>
                                </div>
                                <!-- <textarea class="e-input" cssClass="e-outline e-custom" id='description' rows="3" type="textarea" formControlName="description" floatLabelType="Auto" [placeholder]='description'></textarea> -->
                            </div> 
                            <div *ngIf="releaseForm.controls.description.hasError('required') && releaseForm.controls.description.touched" class="e-error">* Project Description is Required</div>
                                                                            
                        </div>   
                    </div>
                </div>

                <div class="row">
                    <div class="column" >
                        <div class="form-group">
                            <div class="e-float-input">
                                <ejs-dropdownlist id='milestone' cssClass="e-outline e-custom" #milestone floatLabelType="Auto" [dataSource]='milestones' [fields]='milestonefields' [placeholder]='milestonePlaceholder' [popupHeight]='height' formControlName="milestone"></ejs-dropdownlist>
                            </div> 
                            <div *ngIf="releaseForm.controls.milestone.hasError('required') && releaseForm.controls.milestone.touched" class="e-error">* Milestone is required</div> 
                        </div> 
                    </div>
                    <div class="column">
                        <div class="form-group">
                            <div class="e-float-input">
                                <ejs-dropdownlist id='release' cssClass="e-outline e-custom" floatLabelType="Auto" #release [dataSource]='releaseTypes' [fields]='releaseTypeFields' [placeholder]='type' [popupHeight]='height' formControlName="type"></ejs-dropdownlist>
                            </div> 
                        <div *ngIf="releaseForm.controls.type.hasError('required') && releaseForm.controls.type.touched" class="e-error">* Release Type is required</div>                                                 
                        </div> 
                    </div>
                   
                    
                </div>

                <!-- <div class="row">
                    <div class="column" *ngIf="isExternal">          
                        <div class="form-group">
                            <div class="e-float-input">
                                <ejs-dropdownlist id='handover' cssClass="e-outline e-custom" floatLabelType="Auto" #release [dataSource]='handoverType' [fields]='handoverTypeFields' [placeholder]='handover' [popupHeight]='height' formControlName="handover"></ejs-dropdownlist>
                            </div> 
                        </div>    
                    </div>               
                </div> -->
                <div class="row">
                    <div class="submitBtn" style="float: right">
                        <button ejs-button cssClass="e-info" [isPrimary]="true" [disabled]="!releaseForm.valid" (click)= "saveRelease()" style="margin-top: 20px">Create Release</button>
                        <button ejs-button cssClass="e-info" [isPrimary]="true" (click)= "saveAsDraft()" style="margin-top: 20px;margin-left: 20px;">Save As Draft</button>   
                        <button type="reset" ejs-button cssClass="e-info" [isPrimary]="true" (click)="resetRelease()" style="margin-top: 20px;margin-left: 20px;">Reset</button>                
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!--
    Confirmation Dialog Before Leaving the Release Page without saving
-->
<ejs-dialog id='releaseConfirmDialog' #releaseConfirmDialog [visible]='hidden' [allowDragging]='true' [isModal]='isModal' [animationSettings]='animationSettings' content='This page contains some changes that are not been saved yet and will be lost if you navigate away. You can either discard them and navigate to the selected page or go back and review these changes.'
header='Leave Page?' width='450px' [buttons]='saveButtons' ></ejs-dialog> 

<ejs-toast #toasttype id='toasttype' [position]="toastPosition" (created)="onCreate()"></ejs-toast>

 