<div class="container mat-elevation-z8">

  <mat-table #table [dataSource]="projects">
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>

      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="primary" matTooltip="Edit Release" (click)="onReleaseSelect(row)">
          <mat-icon aria-label="Edit">content_paste_search</mat-icon>
        </button>

        <!-- <button mat-icon-button color="primary" matTooltip="Delete Release">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button> -->
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="businessunit">
      <mat-header-cell *matHeaderCellDef>Business Unit</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.project_business_unit_id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Product Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.project_name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="version">
      <mat-header-cell *matHeaderCellDef>Version</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.project_version}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="milestone">
      <mat-header-cell *matHeaderCellDef>Milestone</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.project_milestone_id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef>Release Date</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.project_release_date | workWeekPipe}}
        <button *ngIf="row.isOverdue" mat-icon-button color="accent" matTooltip="{{row.toolTipMessage}}">
          <mat-icon aria-label="Edit">flag</mat-icon>
        </button>
        <button *ngIf="row.isReaching" mat-icon-button matTooltip="{{row.toolTipMessage}}">
          <mat-icon aria-label="Edit" style="color: orange;">flag</mat-icon>
        </button>
      </mat-cell>
   
    </ng-container>
    
    <ng-container matColumnDef="releasetype">
      <mat-header-cell *matHeaderCellDef>Release Type</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.project_release_type}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="releasestatus">
      <mat-header-cell *matHeaderCellDef>Release Status</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.project_release_status}}
        <!-- <button *ngIf="row.isTaskCompleted" mat-icon-button  #tooltip="matTooltip" matTooltipPosition='above' matTooltip="Click to View">
          <mat-icon aria-label="Edit" style="color: orange;" (click)="getTaskDetail(row,taskDialog)">flag</mat-icon>
        </button> -->
      </mat-cell>
    </ng-container>
    <!-- <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef>

      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="primary" matTooltip="Delete Release" (click)="onReleaseDelete(row,confirmDeleteDialog)">
          <mat-icon aria-label="Delete">delete_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container> -->

    <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true" [style.background-color]="color"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background: white;">
    <mat-progress-spinner strokeWidth="3" [diameter]="50" color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </div>
  <div class="no-results" [style.display]="projects.length == 0 ? '' : 'none'">
    No results
  </div>


</div>
<button mat-flat-button matTooltip="Add Release" color="primary" style="margin-left: 15px" (click)="openReleaseInfo()">
  <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>Add Release
</button>

<ng-template #taskDialog>
  <h1 mat-dialog-title>Task Detail</h1>
  <div>WIP : {{wipTask}}</div>
  <div>Open : {{openTask}}</div>
  <div>Pending : {{pendingTask}}</div>
  <div class="form-group" style="float: right;padding-bottom: 5px;">
      <button mat-flat-button color="primary" style="float: right;margin: 8px 8px 0;"
          (click)="closeTaskDialog()">Close</button>
     

  </div>
</ng-template>

<ng-template #confirmDeleteDialog>
  <div mat-dialog-content>
    <p>Do you want to Remove <b>{{selectedDeleteRelease.project_name}} </b> ?</p>
  </div>
  <div mat-dialog-actions style="float:right;">
      <button mat-flat-button color="primary" (click)="deleteRelease()">Delete</button>
      <button mat-flat-button color="primary" (click)="closeRelease()">Cancel</button>
  </div>
</ng-template>