<div class="col-lg-12 control-section">
    <!-- ListView element -->
    <ejs-listview #listview id='groupedList' style="height: -webkit-fill-available;" [dataSource]='checklist' [cssClass]='cssClass'
    [showHeader]='false' (select)="onClick($event)">
        <ng-template #template let-dataSource="">
            <div class="settings e-list-wrapper e-list-multi-line">
                <span class="e-list-item-header">{{dataSource.releaseName}} <span class="e-list-item-header" style="float: right">{{dataSource.milestone | uppercase}}</span></span>
                <span class="e-list-content">{{dataSource.workWeek}}</span>
            </div>
        </ng-template>
    </ejs-listview>
</div>

<div class="title">Welocme to RTC (Release Tracking Center)</div>


